<div id="dates">
    <p>Dates</p>
    <hr>
    <div id="dates-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Date and time</th>
                        <th>Duration</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of dates">
                        <td>{{d.dateAndTime}}</td>
                        <td>{{d.duration}}</td>
                        <td>
                            <button class="navButton" (click)="makeReservation(d)">Reserve</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
