h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }

 .div-profile{
  padding-bottom: 110px;
  }
  
  p {
    color: #555;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  strong {
    font-weight: bold;
  }
  .datepickSide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    margin-top: 5em;
    flex-direction: column;
  }
  .profileWrapper {
    display: flex;
  }
  
  h5 {
    margin: 0;
  }
  
  div.equipPickup {
    display: flex;
    gap: 1em;
    border-bottom: 1px solid;
    width: max-content;
    padding-top: 1em;
  }

  div.pickupWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
  }


  button.pickup  {
    padding: 6px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  div.workingHour {
    display: flex;
    gap: 1.5em;
    margin-left: 2em;
    justify-content: flex-end;
  }

  div.workingHours {
    width: 196px;
  }