form {
    margin-top:30px;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 100px;
}

div {
    width: 300px;
    display:flex;
    flex-direction: column;
}
