<div class="dashboard-container">
  <div class="dashboard-buttons-container">
    <div class="dashboard-column">
      
      <a href="http://localhost:4200/equipmentPickupList/"><button>Equipment Pickups</button></a>
      <a href="http://localhost:4200/company"><button>New Equipment Pickup</button></a>
    </div>
    <div class="dashboard-column">
      <a href="http://localhost:4200/equipmentReservations/"><button>Reservations</button></a>
      
      <a href="http://localhost:4200/company"><button>New Reservation</button></a>

    </div>
    <div class="dashboard-column">
      <a href="http://localhost:4200/workingCalendar"><button>Work Calendar</button></a>
      <a href="http://localhost:4200/profile/"><button>Admin Profile</button></a>
    </div>
  </div>
</div>

  
