<div class="navbar">
<div class="navbarItem mec">
    <button class="mec" mat-button [routerLink]="['']">Medical Equipment Company</button>
</div>
<div class="navbarList">

    <div class="navbarItem">
        <button class="company navButton" mat-button [routerLink]="['company']">Company</button>
    </div>
    <div class="navbarItem">
        <button class="equipment navButton" mat-button [routerLink]="['equipment']">Equipment</button>
    </div>

    <div class="navbarItem" *ngIf="user && user.role === 'companyadministrator'">
        <!-- Ovaj deo menija će biti prikazan samo ako korisnik ima ulogu 0 (administrator kompanije) -->
        <button class="navButton" mat-button [routerLink]="['companyAdminProfile']">Admin Page</button>
    </div>
  

    <div class="navbarItem">
        <button class="navButton" *ngIf="user && user.username === ''" mat-button [routerLink]="['login']">Log In</button>
      <button class="navButton" *ngIf="user && user.username !== ''" mat-button (click)="onLogout()">Logout</button>
    </div>
</div>
</div>