<div id="equipment">
    <p>Equipments</p>
    
    <div id="equipments-details">
        <div>
            <table>
                <thead>
                    <tr>
                        
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Quantity In Stock</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of equipments">
                        
                        <td>{{e.name}}</td>
                        <td>{{e.type}}</td>
                        <td>{{e.description}}</td>
                        <td>{{e.quantityInStock}}</td>
                        <td>{{e.price}}</td>
                        <td>
                            <button class="navButton" *ngIf="user && user.role != 'companyadministrator'" (click)="reserveDate(company.id, e.id)">Reserve date</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
